<!DOCTYPE html>

<html>
<head>
	<title>WillBlog</title>
</head>
<body>
	<div class="header">
		Welcome to Will's Blog About NOTHING (for now...)
	</div>
	
	<div class="container">
		
		<% @articles.each do |a| %>
			<div class="article">
				<%= link_to a.title, article_path(a), class: 'article_title' %>
				<div class="article_body"> <%= a.body %> </div>	
			</div>
			
		<% end %>
		<% if logged_in? %>
			<%= link_to "Create New Article", new_article_path %>
		<% end %>
	</div>

</body>
</html>